{% for post in site.posts %}
  <article class="post">
	  {% if post.img %}
	  	<a class="post-thumbnail" style="background-image: url('../assets/images/AI_logo.jpg')"></a>
	  {% else %}
	  {% endif %}
	  <div class="post-content">
		<h2>
			<a class="post-link" style="text-align: left; color: #539738; font-weight: bold" href="{{post.url}}">{{ post.title }}</a>
		</h2>
		<br>
		<p>
		{{ post.content | strip_html | truncatewords: 75 }}
		</p>
		<a href="{{post.url}}" sylte="color: #204081;">Xem tiếp » </a> 
		<span class="post-date" style="float: right; "><strong>{{ post.date | date_to_string}}</strong></span>
	  </div>
	
  </article>
	  
  {% endfor %}

